*{
    margin: 0;
    padding: 0;
}
:root{
    --main-color:rgba(0, 0, 0, 0.685);
    --verbose:rgb(172, 120, 60);
    --light:#ffff;
    --hover:rgba(141, 133, 133, 0.5);
    --border:.1rem solid rgba(34, 23, 23, 0.5);
    --bl: rgb(105, 72, 0);
    --bor: 2px solid rgb(122, 122, 122);
    --blue: rgba(23, 23, 24, 0.63);
}
html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 65.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
    background-color: var(--main-color);
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}
body{
    background: var(--main-color);
}
.header{
    background: rgba(0, 0, 0, 0.623);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5rem 7%;
    top: O; left: 0; right: 0;
    z-index: 1000;
    position: fixed;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
}
.btn:hover{
    letter-spacing: .2rem;
}
section{
    padding: 2rem 7%;
}
.heading{
    text-align: center;
    color: black;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}
.heading span{
    color: var(--verbose);
    text-transform: uppercase;
}
.header .logo img{
    height: 6rem;
}   
.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #ffff;
    text-decoration: none;
}
.header .navbar a:hover{
    color: var(--hover);
    cursor: pointer;
    border-bottom: .2rem solid var(--verbose);
    padding-bottom: .5rem;
    padding-top: .5rem;
    transition: all .3s ease-in-out;
}
.header .icons div{
    color: #ffff;
    padding-bottom: .5rem;
    font-size: 2.5rem;
    margin-left: 2rem;
}
.header .icons div:hover{
    color: var( --verbose);
    cursor: pointer;
    transition: .3s ease-in-out;
}
#menu-btn{
    display: none;
}
.header .search-form{
    position: absolute;
    z-index: 10000;
    top: 100%; right: 7%;
    background: #ffff;
    display: flex;
    width: 50rem;
    height: 4rem;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: .3s ease-in;
}
.header .search-form.active{
    transform: scaleY(1);
}
.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem; 
    color: var(--main-color);
    padding: 1rem;
    border: none;
    text-transform: none;
}
.header .search-form input:hover{
    border: none;
}
.header .search-form label{
    font-size: 2.2rem;
    cursor: pointer;
    margin-right: 1.5rem;
}
.header .search-form label:hover{
    color: var(--verbose);
    border: none;
    cursor: pointer;
}
.header .cart-items-container{
    position: absolute;
    top: 100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    border-left: 2px solid var(--verbose);
    background: var(--light);
    padding:0 1.5rem ;
    transform-origin: right;
    transition: .3s ease-out;
}
.header .cart-items-container.active{
    right: 0;
}
.header .cart-items-container .cart-item{
    position: relative ;
    border: var(--border);
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;

}
.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top: 1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--main-color);
}
.header .cart-items-container .cart-item .fa-times:hover{
    color: var(--verbose);
}
.header .cart-items-container .cart-item img{
    height: 10rem;
}
.header .cart-items-container .cart-item .content h3{
    height: 7rem;
    columns: var(--main-color);
    font-size: 2rem;
    padding-top: 1rem;
}
.header .cart-items-container .cart-item .content .price{
    font-size: 1.4rem;
    color: var(--hover);
    padding-bottom: 2rem;
}
.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
    color: #ffff;
    font-size: 1.7rem;
    background-color: var(--verbose);
    transition: all .3s ease-in-out;
}
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);
    background: url(../images/bac2.jpg);
    /*background: rgba(0, 0, 0, 0.4);*/
    background-size: cover;
    background-position: center;
}
.home .content{
    max-width: 60rem;
}
.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}
.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
}
.home .content a{
    color: #fff;
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    background: var(--verbose);
    transition: all .3s ease-in-out;
}
.about .row{
    display: flex;
    align-items: center;
    background: var(--main-color);
    flex-wrap: wrap;
}
.about .row .image{
    flex: 1 1 45rem;
}
.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}
.about .row .content a{
    text-align: center;
    color: #ffff;
    padding: 0 1.8rem;
    font-size: 1.7rem;
    background-color: var(--verbose);
    transition: all .3s ease-in-out;
}
.about .row .content h3{
    font-size: 3rem;
    color: #fff;
}
.about .row .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.menu .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
    transition: .3s all ease-in-out;
}
.menu .box-container .box img{
    height: 10rem;
}
.menu .box-container .box .btn{
    color: #fff;
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    background: var(--verbose);
    transition: all .3s ease-in-out;
}
.menu .box-container .box h3{
    color: black;
    font-size: 2rem;
    padding: 1rem 0;
}
.menu .box-container .box .price{
    color: var(--verbose);
    font-size: 2.5rem;
    padding: .5rem 0;
}
.menu .box-container .box .price span{
    color: var(--verbose);
    font-size: 1.5rem;
    padding: .5rem 0;
    text-decoration: line-through;
} 
.menu .box-container .box:hover{
    background: var(--bl);
}
.menu .box-container .box:hover > *{
    color: #fff;
}
/* Our products */
.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.products .box-container .box{
    text-align: center;
    border: var(--border);
    padding: 2rem;
}
.products .box-container .box .icons a{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    border: var(--border);
    margin: .3rem;
    text-decoration: none;
    transition: .3s all ease-in-out;
    color: black;
}
.products .box-container .box .icons a:hover{
    background: var(--verbose);
    color: #fff;
}
.products .box-container .box{
    padding: 2.3rem 0;
}
.products .box-container .box .image{
    padding: 2.5rem 0;
}
.products .box-container .box .image img{
    height: 25rem;
}
.products .box-container .box .content h3{
    color: black;
    font-size: 2.5rem;
}
.products .box-container .box .content .stars{
    padding: 1.5rem;
}
.products .box-container .box .content .stars i{
    font-size: 1.5rem;
    color: var(--verbose);
}
.products .box-container .box .content .price{
    color: black;
    font-size: 2.5rem;
}
.products .box-container .box .content .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}
.contact{
    background: var(--blue);
}
.contact h1{
    color: #ffff;
}
.contact .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    background: var(--main-color);
}
.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
 
}
.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}
.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}
.contact .row form .btn{
    color: #fff;
    margin-top: 1rem;
    display: inline-block;
    padding: .5rem 2rem;
    font-size: 1.7rem;
    background: var(--verbose);
    transition: all .3s ease-in-out;
}
.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--blue);
    border: var(--bor);
    border-radius: 5px;

}
.contact .row form .inputBox span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}
.contact .row form .inputBox input{
    width: 100%;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: none;
    text-transform: none;
    background: var(--blue);
}
.contact .row form .inputBox textarea{
    width: 100%;
    color: #fff;
    padding: 2rem;
    font-size: 1.2rem;
    border: none;
    text-transform: none;
    background: var(--blue);
}
.footer{
    background: var(--verbose);
    text-align: center;
    padding-top: .3rem;
    padding-bottom: .3rem;
}
.footer .share{
    padding: 1rem 0;
}
.footer .share a {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    margin: .4rem;
    border: var(--border);
    border-radius: 50%;
    overflow: hidden;
    text-decoration: none;
} 
.footer .share a:hover{
    background: var(--verbose);
}
.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
    transition: .3s all ease-in-out;
}
.footer .links a {
    padding: .7rem 2rem;
    color: #fff;
    text-decoration: none;
    border: var(--border);
    font-size: 2rem;
}
.footer .links a:hover{
    background: var(--blue);
}
.footer .credit span{
    color: rgb(0, 0, 71);
}
.footer .credit{
    font-weight: lighter;
    padding: 1.5rem;
    font-size: 1.3rem;
} 









/* media queries */
@media (max-width:991px) {
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding:2rem;
    }
}
@media (max-width:768px) {
    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 100%; right: -100%;
        display: block;
        background: #fff;
        width: 30rem;
        border-left: 2px solid var(--verbose);
        height: calc(100vh - 9.5rem);

    }
    .header .navbar.active{
        right: 0%;
        transform-origin: right;
        transition:.3s all ease-in-out;
    }
    .header .navbar a{
        color: var(--main-color);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }
    .header .navbar a:hover{
        background-color: aquamarine;
    }
    .header .search-form{
        width: 90%;
        right: 2rem;
    }
    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .home .content h3{
        font-size: 4.5rem;
    }
    .home .content p{
        font-size: 1.5rem;
    }
}
@media (max-width:450px) {
    html{
        font-size: 50%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
}